<!DOCTYPE html>
<html>
  <head>
    <title>Vcdirectory</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src=<%= image_path('logo.png')%> />
  </a>
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   <ul class="nav navbar-nav">

  <li><a href="/vc_firms">All VCs</a></li>
  <li><a href="/vc_firms?query=seed_stage">Seed Stage</a></li>
  <li><a href="/vc_firms?query=series_a">Series A</a></li>
  <li><a href="/vc_firms?query=series_b">Series B</a></li>
  <li><a href="/vc_firms?query=series_c">Series C</a></li>
  <li><a href="/vc_firms?query=growth_stage">Growth Stage</a></li>
  </ul>
  </div>

    <!-- Search form -->
    <form action="/vc_firms/index" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Look for a VC">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
    <%= yield %>
  </body>
</html>
